body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("https://us.123rf.com/450wm/photochicken/photochicken2008/photochicken200800065/153425631-pritty-young-asian-photographer-girl-teen-travel-with-camera-trip-take-a-photo-tourist-lifestyle.jpg?ver=6");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

input {
    flex: 2;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
